html {
    scroll-behavior: smooth;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    line-height: 160%; 
    font-size: 16px;  
    margin: 0;  
    z-index:1;
    background-color: rgb(250,250,250);
    font-family: "helvetica", "open sans";
}

.title-container {
    height: 100vh;
    position: relative;
    background-color: rgb(250,250,250);;
    z-index: 999;
}
  
.title-info {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.entry {
    background-color: rgba(250, 250, 250, 0.55);
    width: 75%;
    margin: auto;
    margin-bottom: 50vh;
    /* border: 1px black solid; */
}
article {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}


a:link { color: #141DFF; text-decoration: none;}
a:visited{ color: #141DFF; }
a:hover {text-decoration: underline; background-color: #98ffff;}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #0e005e;
    /* position: fixed; Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 999;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-bottom-color: #0e005e;
}

/* Links inside the navbar */
.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 7px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: "helvetica", "open sans"; 
}
  
/* Change background on mouse-over */
.navbar a:hover {
    background: white;
    color: #0e005e;
}

p, span { font-size: 20px; font-family: Georgia, "Sans-serif", serif; }
span.insideHeader {
    font-size: inherit;
    font-family: inherit;
    opacity: inherit;
}
h1 { font-size: 64px; margin: 40px 10px 30px 10px; font-weight: normal; line-height: 72px; font-family: "helvetica", "open sans";}
h2 { text-align:center; font-size: 32px; margin: 10px 10px 0px 10px; font-weight: bold; line-height: 38px; font-family: "helvetica", "open sans";}
h3 { font-size: 20px; margin: 50px 0px 5px 0px; font-weight: bold; line-height: 24px;}
li {
    font-size: 20px; font-family: Georgia, "Sans-serif", serif;
    list-style-position: outside;
}
.byline {
    font-size: 14px;
}
.source {
    font-size: 12px;
    color: gray;
    margin-top: 0;
}

::-moz-selection { /* Code for Firefox */
    background: #98ffff;
    color: #0e005e;
}
::selection {
    background: #98ffff;
    color: #0e005e;
}
mark {
    background-color: #98ffff7e;
}

svg {
    user-select: none;
}

.x-axis-label, .y-axis-label {
    font-size: 16px;
    text-anchor: end;
    user-select: none;
    font-family: "helvetica", "open sans";
}
.y-axis-label {
    text-anchor: start;
}
.y-axis-sublabel {
    font-size: 14px;
    fill: rgb(100, 100, 100);
}

.axis {
    font-size: 14px;
}

.mockAxis {
    font-size: 12px;
    color: gray;
}

.line {
    fill: none;
    stroke: #0024d9;
    stroke-width: 2px;
}

.bottom-space {
    margin-bottom: 50vh;
}

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 50px;
    max-width: 250px;
    padding: 10px;
    font-size: 16px;
    background: white;
    border: 1px black solid;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
}

.leaflet-container {
    background: none !important;
}

.rellax-container {
    height:200vh;
    position: relative;
    /* background-color: rgb(250,250,250); */
    margin-bottom: 50vh;
}
.rellax {
    border: 2px silver solid;
    padding: 5px;
    position: absolute;
    background-color: #273641;
    max-width: 15vw;
    border-radius: 10px;
    font-weight: 600;
    color: rgb(244, 243, 243);
    /* transform: translateX(-50%, 0px, 0px) !important; this would turn off rellax */
}

.bold {
    font-weight: bold;
}
.names {
    font-size: 16px;
}

.fakeButton {
    display: inline-block;
    background: white;
    border: 1px black solid;
    border-radius: 5px;
    color: black;
    padding: 2.5px 4px;
    cursor: pointer;
    
}
.fakeButton:hover {
    background: #0007c9;
    color: white;
}

#top0, #top1, #top2, #top3, #top4, #bottom0, #bottom1, #bottom2, #bottom3, #bottom4 {
    font-weight: bold;
    pointer-events: none;
}

.scrollOnTop {
    position: relative;
    background-color: white;
    border: 1px black solid;
    padding: 10px;
    width: 60%;
    margin: auto;
    margin-top: 90vh;
    margin-bottom: 20vh;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    background-color: #001ba1;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 20px;
}
.footerLink {
    color: white !important;
}
.footerLink:hover {text-decoration: none; background-color: #001ba1;}

.contributionsSection {
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 30px;
}
.miniChartContainer {
    display:flex; align-items:center; justify-content:center;
}
.lollipopContainer {
    width:45%; float:right; position:sticky; top:0%;
}
.lollipopTextContainer {
    width:45%;
}
.photo2 {
    display: none;
}

sup { 
    vertical-align: top; 
    color: #141DFF;
    font-size: 16px;
    line-height: 20px;
}
sup:hover{
    color: #FE3C72;
    cursor: pointer;
}
.footnote { 
    font-size: 18px;
    display: none; 
    color: rgb(105, 105, 105);
    text-decoration: none;
    margin: 15px;
}
.footnote:hover{
    cursor: pointer;
}

/* mobile CSS */
@media (min-width: 320px) and (max-width: 999px) {

    .entry { 
        width: 95%;
        margin-bottom: 25vh;
    }
    article {
        width: 90%;
    }
    .contributionsSection {
        width: 95%;
    }
    .rellax-container {
        display: none;
    }
    .scrollOnTop {
        width: 90%;
    }
    #map {
        display: none;
    }
    .miniChartContainer {
        display:none;
    }
    .lollipopContainer {
        width:100%; float:initial; position:sticky; top:10%;
    }
    .lollipopTextContainer {
        width:100%;
    }
    .lollipopText {
        background-color: white;
        border: 1px black solid;
        padding: 10px;
        width: 100%;
        margin: auto;
        margin-bottom: 50vh;
        position: relative;
    }
    .photo2 {
        display: block;
    }
    .photo1 {
        display: none;
    }
}